<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>FreeCodeCamp API Basejump: File Metadata</h1>
         <h3>User Stories</h3>
          <ul>
            <li> I can submit a FormData object that includes a file upload.</li>
            <li> When I submit something, I will receive the file size in bytes within the JSON response</li>
          </ul>
        <h3>Use the File Metadata Service</h3>
        <form action="/get-file-data" method="post" enctype="multipart/form-data">
          Upload a File: <input type="file" name="upload">
          <input type="Submit" value="Submit">
        </form>
      </div>
      <div id="madeby">
        <h6>Made by <a href="https://www.freecodecamp.org/irichard620" alt="Ian's FCC" id="fcc-link">Ian Richard</a></h6>
      </div>
   </body>

</html>
